<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hometesting.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>hometesting.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>hometesting</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$hometesting</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="MainDbContext" Order="1" Enabled="False" xmlns="">
          <Destination Path="Data Source=tcp:wusmvmcf12.database.windows.net,1433;Initial Catalog=Advertisement;User ID=hometesting@wusmvmcf12;Password=Home@testing" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MyRESTService.Models.MainDbContext, MyRESTService" MigrationConfiguration="MyRESTService.Migrations.Configuration, MyRESTService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MainDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:wusmvmcf12.database.windows.net,1433;Initial Catalog=Advertisement;User ID=hometesting@wusmvmcf12;Password=Home@testing</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>