<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRestService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hometesting.azurewebsites.net/RestService.svc/RestService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRestService"
                contract="RestServiceReference.IRestService" name="WSHttpBinding_IRestService" />
        </client>
    </system.serviceModel>
</configuration>